PORT="5000"
MONGO_URI="mongodb-uri"

# JWT
JWT_SECRET="replace-with-a-long-random-secret"

# FRONETND URL
CLIENT_ORIGIN="http://localhost:8080"

# CLOUDINARY
CLOUDINARY_CLOUD_NAME="cloud-name"
CLOUDINARY_API_KEY="api-key"
CLOUDINARY_API_SECRET="api-secret"
CLOUDINARY_FOLDER="nexaspace"
CLOUDINARY_FILES_FOLDER="nexaspace/encrypted-files"
